<p> 
    <%= link_to 'Português', '/?locale=pt-BR' %>
</p>
<p>
    <%= link_to 'English', '/?locale=en' %>
</p>

<h1>Bem vindo</h1>
<p> O idioma usado nessa aplicação é: <%= t('actual_locale') %></p>
<p> <strong>Data:</strong> <%= (Date.today) %> </p>
<p><%= t('hello') %></p>
<%= render 'menu' %>

<p>
    Você está em ambiente de <strong> <%= ambiente_rails %> </strong>
</p>

<p>
    O seu nome é <%= @meu_nome %>
</p>
<p>
    O nome do curso é <%= @curso %>
</p>